<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
        "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<Configuration status="INFO" name="example-config">
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{1} - %msg%n</Property>
        <Property name="APP_LOG_ROOT"></Property>   <!-- Set the default root location here! -->
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>

        <Console name="HIKARI" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="appLog"
                     fileName="logs/assasement/application.log"
                     filePattern="logs/archive/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />                <!-- Open New Log everytime we initiate the jar file / run it -->
                <SizeBasedTriggeringPolicy size="1900KB" /> <!-- 19500KB - maximum storage for one log file  -->
                <TimeBasedTriggeringPolicy interval="1" />   <!-- Update to new log everyday "we set it as 1 = 1day" -->
            </Policies>
            <!-- <DefaultRolloverStrategy max="5" />  -->              <!-- Default:5 - How Many log file can have in a create (maximum memory) -->
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="appLog" />
        </Root>

        <Logger name="com.zaxxer.hikari.pool.HikariPool" additivity="false" level="error" >
            <AppenderRef ref="HIKARI" />
            <AppenderRef ref="appLog" />
        </Logger>

        <Logger name="com.zaxxer.hikari.pool.PoolBase" additivity="false" level="error" >
            <AppenderRef ref="HIKARI" />
            <AppenderRef ref="appLog" />
        </Logger>

        <Logger name="com.zaxxer.hikari.HikariDataSource" additivity="false" level="error" >
            <AppenderRef ref="HIKARI" />
            <AppenderRef ref="appLog" />
        </Logger>

        <Logger name="com.zaxxer.hikari.HikariConfig" additivity="false" level="error" >
            <AppenderRef ref="HIKARI" />
            <AppenderRef ref="appLog" />
        </Logger>

        <Logger name="com" level="debug" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="appLog" />
        </Logger>

    </Loggers>
</Configuration>